body {
    font-family: 'Lato', sans-serif;
}


.navigation {
    list-style: none;
    padding: 0;
    margin-top: 25px;
}

.navigation-link {
    text-decoration: none;
    color: #939699;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.cart-btn {
    background: #4592FF;
    border-radius: 20px;
    padding: 10px 20px;
    border: none;
    color: white;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.icon-btn {
    margin-right: 10px;
}

.cart-btn:focus {
    outline: none;
}

.bestseller {
    background-color: #3DC47E;
    border-radius: 3px;
    padding: 5px 12px;
    display: inline-block;
    border: none;
    color: white;
    margin-top: 90px;
    font-size: 12px;
}

.bestseller:focus {
    outline: none;
}

.slider {
    background: #B4D1E0 url("../img/Background.jpg") no-repeat center;
    min-height: 570px;
}

.slider-title {
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 70px;
    color: #262D33;
    margin-top: 25px;
}

.slider-text {
    color: #4B5157;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    margin-top: 15px;
    margin-bottom: 40px;
}

.price-btn {
    margin-right: 10px;
}

.slide-arrow button {
    background: none;
    border: none;
    outline: none;

}

.slide-arrow {
    margin-top: 255px;
}