body {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    padding-bottom: 30px;
}


.navigation {
    list-style: none;
    padding: 0;
    margin-top: 25px;
}

.navigation-link {
    text-decoration: none;
    color: #939699;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.cart-btn {
    background: #4592FF;
    border-radius: 20px;
    padding: 10px 20px;
    border: none;
    color: white;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.icon-btn {
    margin-right: 10px;
}

.cart-btn:focus {
    outline: none;
}

.bestseller {
    background-color: #3DC47E;
    border-radius: 3px;
    padding: 5px 12px;
    display: inline-block;
    border: none;
    color: white;
    font-size: 12px;
}

.bestseller:focus {
    outline: none;
}

.slider-section {
    margin-top: 90px;
}

.slider {
    background: #B4D1E0 url("../img/Background.jpg") no-repeat center;
    min-height: 570px;
}

.slider-title {
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 70px;
    color: #262D33;
    margin-top: 25px;
}

.slider-text {
    color: #4B5157;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    margin-top: 15px;
    margin-bottom: 40px;
}

.price-btn {
    margin-right: 10px;
}

.slide-arrow button {
    background: none;
    border: none;
    outline: none;

}

.slide-arrow {
    margin-top: 255px;
}

.card {
    min-height: 370px;
}

.card-1 {
    background: url(../img/Card-01.jpg) no-repeat top right;
    background-size: cover;
    padding-top: 60px;
    padding-left: 45px;
}

.card-view-all {
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 20px;
    display: block;
}

.card-title {
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    color: #262D33;
    margin-bottom: 15px;
}

.card-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 25px;
    color: #FFC4C9;
}

.cart-btn-arrow {
    margin-left: 8px;
}

.card-section {
    padding-top: 50px;
}

.card-2 {
    background: url(../img/Card-02.png) no-repeat top right;
    background-size: cover;
    color: white;
    padding-top: 60px;
    padding-left: 45px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.card-2-title {
    color: white;
}

.card-3 {
    background: #CCD5E6 url(../img/Card-03.png) no-repeat top right;
    padding-left: 45px;
    border-radius: 10px;
    padding-top: 35px;
}
.card-3-title {
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    color: #262D33;
    margin-top: 30px;
}

.card-3-text {
    margin-top: 20px;
    margin-bottom: 40px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #4B5157;
}

.card-4 {
    background: #FF4F52 url(../img/Card-04.png) no-repeat top right;
    border-radius: 10px;
    padding-top: 35px;
    padding-left: 25px;
}

.card-price {
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}